/* ************************************
*************** Functions *****************/

.one {
	background: fade-out(red, 0.7);
	background: rgba(blue, 0.5);
}

.one {
	width: percentage(400px/900px);
}

.two {
	width: percentage(400px/900px);
}