/* ************************************
************* Variables ***************/

$black : #333;
$gray : #DDD;
$marron : #987800;
$blue : #6Cf;
$blue2 : #4747a0;

$background : $gray;
$foreground : $black;
$header-background : $blue;
