<html>
	<head>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1> To do List </h1>

		<ul>
			<li> <a href="#"> <img class="suppr" alt="supp"/> </a> Truc a faire numero 1 </li>
			<li> <a href="#"> <img class="suppr" alt="supp"/> </a> Truc a faire numero 2 </li>
			<li> <a href="#"> <img class="suppr" alt="supp"/> </a> Truc a faire numero 3 </li>
			<li> <a href="#"> <img class="suppr" alt="supp"/> </a> Truc a faire numero 4 </li>
			<li> <a href="#"> <img class="suppr" alt="supp"/> </a> Truc a faire numero 5 </li>
		</ul>
	</body>
</html>