* {padding: 0;margin: 0;box-sizing: border-box}

body {
	font-family: helvetica;
}

header {
	background:  #404060;
	color:       #EEE;
	height:      100px;
	line-height: 30px;
	padding-top: 20px;
	margin-bottom : 30px;
	-webkit-box-shadow: 0 0 5px #444;
	        box-shadow: 0 0 5px #444;
}

.profil-container {
	font-style: italic;	
	margin-bottom : 10px;
}

.profil-container #login {
	color: #4596B9;
	font-weight: bold;
}

.container {
	width:  	900px;
	margin: 	auto;
}

.chat-container {
}



/* Chat */
.message-container {
	background:  #E8D0A4;
	margin: 10px 0;
	padding: 10px;
}

.me-message { text-align: right;}
.message-pseudo { font-weight: bold;}
.message-text {	font-style:  italic;}


.notification-container {
	background:  #EFE86A;
	margin: 10px 0;
	padding: 2px 10px;
	font-style:  italic;
}


/* Envoie d'un message */
#messageText {
	width: 100%; max-width: 100%;
	height: 100px; max-height: 100px;
	padding: 5px;
	border: 1px solid #EEE;
}

#messageButton {
	width: 100%; max-width: 100%;
	height: 50px; max-height: 50px;
	padding: 5px;	
	background: #EEE;
	border : 0;
}
#messageButton:hover  { background: #E9E9E9; }
#messageButton:active {	background: #DDE;    }



@media screen and (max-width: 900px) {
	.container {
		width:100%;
	}
}