<h1> OUech ma gueule </h1>

<p> 
	<% for(var i = 1 ; i <= compteur ; i++) { %>
	<%= i %> ...  
	<% } %>
</p>

<p>
	Tant que j'y suis, je prends un nom au hasard qu'on m'a envoyé :
	<%= tab[Math.floor(Math.random() * (tab.length))] %>
</p>
