/* ************************************
************** Mixins *****************/

@mixin borderRadiusPlease($radius : 20px) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}
