@import "material_design_colors";

$size_parent_width : 500px;
$size_parent_height : 300px;

$size_child_width : 50px;
$size_child_height : 50px;
$size_child_padding : 20px;

$size_margin_left : 30px;



$color_parent_background : $indigo_A200;
$color_parent_border : $indigo_600;

$color_container_background : $green_A200;
$color_container_border : $green_600;

$color_child_background : $pink_A200;
$color_child_border : $pink_600;

