<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body ng-app="app">
    <header class="l-header">
        <div class="l-container">
            <h1><%= title %> (<%= message %>)</h1>
        </div>
    </header>
    <div class="l-container">
        <h3>You are <%= message %></h3>

        <div>
            <a href="/api/getcode"> SE CONNECTER </a>
        </div>

        <div>
            <a href="/api/call/history"> Voir l'historique </a>
        </div>
        
        <div class="test-police">
            Ouech les amis
        </div>

        <ul class="clearfix">
            <li>
                <div class="test test-police">
                    <h1>T</h1>
                </div>
                <h1>Titre</h1>
                <p>Artiste : Nom de l'artiste</p>
                <p>Album : Titre de l'album</p>
            </li>
            <li>
                <div class="test test-police">
                    <h1>C</h1>
                </div>
                <h1>Chanson</h1>
                <p>Artiste : Nom de l'artiste</p>
                <p>Album : Titre de l'album</p>
            </li>
            <li>
                <div class="test test-police">
                    <h1>B</h1>
                </div>
                <h1>Balade</h1>
                <p>Artiste : Nom de l'artiste</p>
                <p>Album : Titre de l'album</p>
            </li>
            <li>
                <div class="test test-police">
                    <h1>T</h1>
                </div>
                <h1>Titre</h1>
                <p>Artiste : Nom de l'artiste</p>
                <p>Album : Titre de l'album</p>
            </li>
        </ul>

    </div>

    <div class="l-container">
        <div ng-view></div>
    </div>


    <!-- TEMPLATE -->
    <!-- History List -->
    <script type="text/ng-template" id="/historyList.html">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>hard code title</td>
                    <td>hard code artist</td>
                    <td>hard code album</td>
                    <td>hard code time</td>
                </tr>
                <tr ng-repeat="item in items">
                    <td>blabla</td>
                    <td>blabla</td>
                    <td>blabla</td>
                    <td>blabla</td>
                </tr>
            </tbody>
        </table>
    </script>

    


    
<!-- LIBRARIES -->
    <script type="text/javascript" src="javascripts/lib/angular.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-route.js"></script>
    <script type="text/javascript" src="javascripts/lib/angular-resource.js"></script>
    <script type="text/javascript" src="javascripts/lib/jquery.js"></script>
    <script type="text/javascript" src="javascripts/lib/modernizr.js"></script>
<!-- SCRIPTS -->
    <script type="text/javascript" src="javascripts/app.js"></script>
</body>
</html>
