* {
	margin: 0;padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 20px;
	color: #666;
}

.container {
	width: 900px;
	margin: 0 auto;
}

header {
	background: #EEE;
	padding: 20px;
	margin-bottom: 20px;
	height: 100px;
	line-height: 100px;
}

.polymer__element {
	margin: 30px 0;	
}

.polymer__element h2 {
	border-bottom: 1px solid #AAA;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: normal;
	color: #333;
}