* {
	padding: 0;margin: 0;
}

body {
	font-family: sans-serif;
	background: rgba(44, 62, 80, 0.7);
}

h1 {
	text-align : center;
	line-height: 50px;
}

.container {
	width : 900px;
	margin: 0 auto;
	background: #EEE;
}
.main {
	padding-top : 20px;
	min-height : 700px;
}

.box__parent {
	width: 500px;
	height: 300px;
	
	margin: 0 auto;

	background: #58E;
	border : #47D solid 2px;
	color: #EEE;
}
.box__child {
	background: #E58;
	border : #D47 solid 2px;
	color: #EEE;	
}

.row .demo {
	margin : 20px 0;
	background: #FFF;
}


/**
*
* row-1
*
**/

.row-1 .box__child {
	width: 50px;
	height: 50px;
	text-align : center;
}


/**
*
* row-2
*
**/

.row-2 .box__child {
	width: 200px;
	height: 150px;
	margin : 0 auto;
	text-align : center;
}

