* {padding: 0;margin: 0;}

html  {
	margin: 0;padding: 0;
	background: url(bg.jpg) no-repeat center fixed;
	-webkit-background-size : cover;
			background-size : cover;
}

body {
	font-family: helvetica;
}

header {
	background: #202F30;
	color: #EEE;
	height: 150px;
	line-height: 150px;
	margin-bottom: 20px;
}

.container {
	width: 900px;
	margin: 0 auto;
}