<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
	
<header class="l-header">
	<div class="l-container">
		<section>
			<h1>Title</h1>
			<p>Sous titre de mon template</p>
		</section>
	</div>
</header>

<div class="l-container">
	
	Ouech tonton comment il pète mon snippet !!

</div>


<!-- LIBRARIES -->
	<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="libs/isjs/is.min.js"></script>
<!-- SCRIPTS -->
	<script type="text/javascript" src="scripts/module.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript">
		App.Init();
	</script>
</body>
</html>